@import './var.scss';
@import './adapter.scss';
@import './function.scss';
@import './mixin.scss';
@import url('http://at.alicdn.com/t/font_1623824_jkm38fiaj.css');

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 12px;
  background-color: #fafafc;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

.van-search {
  .van-cell__value {
    display: flex;
    align-items: center;
    .van-field__body {
      width: 100%;
    }
  }
}

.van-field__value {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .van-field__body, .van-field__error-message, .van-field__word-limit {
    width: 100%;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-enter, .detail-leave-to {
  transform: translateX(100%);
}
.detail-enter-active, .detail-leave-active {
    transition: transform .2s ease;
}
.detail-enter-to, .detail-leave {
  transform: translateX(0);
}